.specified-order {
    .answers-wrap, #answers, #possibilites {
        margin: 1em 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;

        min-height: 51px;

        padding: 8px 2px;
    }
    #answers {
        margin-bottom: 1.5em !important;
        border-bottom: 1px solid rgba(128, 128, 128, 0.226);
        justify-content: center;
    }

    .audio {
        height: 90px;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .replay-audio-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 80px;
            background-color: #00a2ff;
            border-radius: 5px;
        }
    }

    .correct {
        .answer {
            color: white;
            border: 1px solid transparent;
            background-color: #9BC53D;
        }
    }
    .wrong {
        .answer {
            color: white;
            border: 1px solid transparent;
            background-color: #ff4c55;
        }
    }
    .specified-order-answer {
        transition: all;
        transition-duration: 200ms;
        cursor: pointer;
        padding: 1em 1.25em;
        margin: 0 6px;
        height: 2em;
        min-width: 60px;
        border: 1px solid grey;
        border-radius: 5px;
        
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .specified-order-answer[animating="1"] {
        animation: fadeIn 100ms ease-in;
    }
}

.correct {
    .answer {
        color: white;
        border: 1px solid transparent;
        background-color: #9BC53D;
    }
}
.wrong {
    .answer {
        color: white;
        border: 1px solid transparent;
        background-color: #ff4c55;
    }
}