#welcome {
    background: rgb(240,166,255);
    background: linear-gradient(0deg, rgba(240,166,255,1) 0%, rgb(195, 255, 255) 100%);
    // background: linear-gradient(0deg, rgba(240,166,255,1) 0%, rgba(211,255,255,1) 100%);
}
#logo-welcome {
    width: 422px;
    height: 110px;
}