#welcome {
    background-color: #E786FF;
    background: linear-gradient(0deg, rgba(240,166,255,1) 0%, rgb(195, 255, 255) 100%);
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    @include noHighlighting();
}
#logo-welcome {
    width: 422px;
    height: 110px;
}

.welcome-div {
    height: 100vh;
    position: relative;
    color: white;
    overflow: hidden;

    font-family: "Lekton";

    #middle-bit {
        @include noHighlighting();
        position: absolute;
        z-index: 2;
        height: 30%;
        top: 40%;
        width: 80%;
        left: 5%;
        // border: rgba(128, 128, 128, 0.306) 2px solid; // debug
        font-size: 24px;
        font-weight: bold;
        #examples-scroller {
            display: flex;
            flex-direction: column;
            #punjabi {
                font-weight: normal;
                font-size: 36px;
                height: 40px;
            }
            #translation {
                padding-top: 10px;
                font-weight: normal;
                font-style: italic;
                font-size: 16px;
            }
        }
        #prompt-text {
            margin-top: 30px;
            line-height: 1.25em;
            font-size: 18px;
        }
        .action-button {
            position: relative;
            margin-top: 50px;
            // bottom: 0;
        }
    }
    #scroll-prompt {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-family: "Lekton";
        font-size: 14px;
        font-weight: 1000;
        svg {
            margin-top: 5px;
            width: 32px;
            height: 16px;
        }
    }
}

#welcome-2 {
    display: flex;
    align-items: center;
    #three-things {
        height: 60%;
        width: 60%;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .thing {
            font-size: 14px;
            .title {
                font-weight: bold;
            }
            opacity: 0;
            transition: 1s ease-in-out;
            background-color: #ffffff83;
            color: black;
            border-radius: 5px;
            &.visible {
                opacity: 1 !important;
            }
        }
    }
}

#welcome-3 {
    height: 300vh !important;
    overflow: initial !important;
    #stick {
        position: sticky;
        top: 0;
        height: 100vh;
        // background-color: rgba(0, 0, 0, 0.071);
    }
}

#lp-logo {
    z-index: 2;
    transform: translate(0.5%, -9%) scaleX(102%);
    position: relative;
    path {
        position: absolute;
        top: 0;
    }
}
#rivers-top, #rivers-mid {
    height: auto;
    position: absolute;
    right: 0;
    // top: 0;
    z-index: 1;
}
#rivers-top {
    top: 0;
}
#rivers-end {
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}
#rivers-mid {
    transform: translate(0, -5.5%);
}

.grad-top {
    background: linear-gradient(180deg, #E786FF 0%, #E786FF 8.33%, #86E2FF 100%);
}
.grad-mid {
    background-color: #86E2FF;
}
.grad-end {
    background: linear-gradient(180deg, #86E2FF 0%, #E786FF 91.67%, #E786FF 100%);
}

@media (min-width: 1300px) {
    #middle-bit {
        position: absolute;
        width: 35% !important;
        font-size: 24px !important;
        font-weight: bold;
        #examples-scroller {
            align-items: center;
            flex-direction: row !important;
            align-items: center;
            #punjabi {
                font-size: 52px !important;
                height: 60px !important;
                margin: 0 30px 0 0;
            }
            #translation {
                font-size: 24px !important;
            }
        }
        #prompt-text {
            font-size: 24px !important;
            margin-top: 30px;
        }
        .action-button {
            margin-top: 50px;
        }
    }
    #scroll-prompt {
        bottom: 30px !important;
        font-size: 24px !important;
        svg {
            margin-top: 15px !important;
            width: 62px !important;
            height: 31px !important;
        }
    }
    .thing {
        font-size: 24px !important;
        font-weight: bold;
        opacity: 0;
        transition: 1s ease-in-out;
        background-color: #ffffff83;
        color: black;
        border-radius: 5px;
        &.visible {
            opacity: 1 !important;
        }
    }
}