.accounts-wrap {
    width: 85%;
    min-height: 48vh;
    // width: 44%;
    // height: 70vh;
    border: $border-thickness solid black;
    border-radius: 5px;
    // padding: 15px;
    padding-bottom: 30px;
    margin: 50px auto;
    .register, .login {
        width: 100%;
    }

    .input-field {
        label {
            margin: 0.25em 0 0.25em;
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .accounts-wrap {
        width: 50%;
        min-height: 70vh;
    }
}

.auth-error {
    height: 1em;
    margin: 0.25em 0;
    font-size: 0.8em;
    color: red;
    font-style: italic;
}

.account-switcher[fadein="0"] {
    opacity: 0;
}
.account-switcher[fadein="1"] {
    animation: fadeIn 250ms ease-in forwards;
}
.account-switcher[fadein="2"] {
    opacity: 1;
}