.accounts-wrap {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    .register, .login {
        width: 100%;
    }
    .input-field {
        label {
            margin: 0.25em 0 0.25em;
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .accounts-wrap {
        border: $border-thickness solid black;
        border-radius: 5px;
        width: 50%;
        margin: 50px auto;
        min-height: 70vh;
        max-height: 80vh;
    }
}

.auth-error {
    height: 1em;
    margin: 0.25em 0;
    font-size: 0.8em;
    color: red;
    font-style: italic;
}

.account-switcher[fadein="0"] {
    opacity: 0;
}
.account-switcher[fadein="1"] {
    animation: fadeIn 250ms ease-in forwards;
}
.account-switcher[fadein="2"] {
    opacity: 1;
}