.audio {
    height: 90px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .replay-audio-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        background-color: #00a2ff;
        border-radius: 5px;

        img {
            width: 50px;
            height: 50px;
        }
    }
}