.audio {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    .replay-audio-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border-radius: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .audio {
        margin: 10px 0;
        .replay-audio-button {
            height: 65px;
            width: 65px;
        }
    }
}

@media (min-width: 1024px) {
    .audio {
        margin: 10px 0;
        .replay-audio-button {
            height: 80px;
            width: 80px;
        }
    }
}