
.lessons-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;    
    padding: 40px 0;

    .lesson-icon {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        flex-shrink: 0;

        width: 125px;
        height: 125px;

        border-radius: 10px;
        margin: 45px auto;

        @include hoverScaleUp(1.05);

        &.complete {
            background-color: #00A2FF;
        }
    }
}

@media (max-width: 768px) {
    .lessons-wrap {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .lessons-wrap {
        width: 60%;
        border-right: $border-thickness solid black;
        .lesson-icon {
            width: 150px;
            height: 150px;
        }
    }
}

.lesson-end, .lesson-interstitial {
    min-height: 40%;
    margin-top: 50px;
    width: 60%;
    margin: auto;
}
.task[fadein="0"] {
    opacity: 0;
}
.task[fadein="1"] {
    animation: fadeIn 250ms ease-in forwards;
}
.task[fadein="2"] {
    opacity: 1;
}