
.lesson-wrap {
    // background: linear-gradient(0deg, #f0a6ff 0%, #c3ffff 100%);
    background: linear-gradient(0deg, #E786FF 0%, #86E2FF 100%);
    display: flex;
    align-items: center;
    flex-direction: column;    
    padding: 40px 0;
    // border-top: 3px solid black;

    .lesson {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        flex-shrink: 0;

        width: 150px;
        height: 150px;
        // border: 1px grey solid;
        border-radius: 10px;
        margin: 45px;
        padding: 15px;

        @include hoverScaleUp(1.05);

        &.complete {
            background-color: #00A2FF;
            // background-color: #f0a6ff;
        }
        &.incomplete {
            background-color: white;
        }
    }
}

@media (max-width: 768px) {
    .lesson-wrap {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .lesson-wrap {
        width: 60%;
        border-right: $border-thickness solid black;
    }
}

.lesson-end, .lesson-interstitial {
    min-height: 40%;
    margin-top: 50px;
    width: 60%;
    margin: auto;
}
.task[fadein="0"] {
    opacity: 0;
}
.task[fadein="1"] {
    animation: fadeIn 250ms ease-in forwards;
}
.task[fadein="2"] {
    opacity: 1;
}