
.lesson-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;    
    padding: 40px 0;

    .lesson {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        flex-shrink: 0;

        width: 150px;
        height: 150px;
        border: 1px grey solid;
        border-radius: 10px;
        margin: 15px;
        transition: 0.5s ease;

        @include hoverScaleUp(1.05);

        &.complete {
            background-color: green;
        }
        &.incomplete {
            background-color: transparent;
        }
    }
}

@media (max-width: 768px) {
    .lesson-wrap {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .lesson-wrap {
        width: 60%;
        border-right: 2px solid black;
    }
}

.task {
    margin-top: 50px;
}