.correct {
    .answer {
        color: white;
        border: 1px solid transparent;
        background-color: #9BC53D !important;
    }
}
.wrong {
    .answer {
        color: white;
        border: 1px solid transparent;
        background-color: #ff4c55 !important;
    }
}
.answer {
    @include disableMobileHighlight();
}