#logo-full {
    margin: 1em 1.5em 0.5em;
    width: 210px;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: $border-thickness solid black;
}
