#logo-full {
    margin: 1.5em 2em 0.5em;
    width: 210px;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: $border-thickness solid black;
    // a {
    //     // width: 50px;
    //     // margin-right: 2em;
    // }
}