

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: $border-thickness solid black;
    height: 75px;
    #logo-full {
        margin: 1em 1.5em 0.5em;
        width: 210px;
    }
    #logo-icon {
        margin: 1em 1em 0.5em;
    }
}

@media (min-height: 768px) {
    #topbar {
        height: 83px;
    }
}