.task.draw-letter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    #drawing-canvas {
        width: 320px;
        height: 320px;
    }
}