@tailwind base;
@tailwind components;
@tailwind utilities;
.animDelay500 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.moveUpAndFadeOut {
  -webkit-animation: moveUpAndFadeOut 1s ease-in;
          animation: moveUpAndFadeOut 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveUpAndFadeOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
    opacity: 0;
  }
}

@keyframes moveUpAndFadeOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
    opacity: 0;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Lekton";
  src: url("fonts/Lekton-Regular.ttf");
}

@font-face {
  font-family: "Lekton";
  src: url("fonts/Lekton-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lekton";
  src: url("fonts/Lekton-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic/OpenDyslexic-Regular.otf");
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic/OpenDyslexic-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "OpenDyslexic";
  src: url("fonts/OpenDyslexic/OpenDyslexic-Italic.otf");
  font-style: italic;
}

.dyslexiaFont {
  font-family: "OpenDyslexic" !important;
}

#logo-full {
  margin: 1em 1.5em 0.5em;
  width: 210px;
}

#logo-icon {
  margin: 1em 1.5em 0.5em;
}

#topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6px;
  border-bottom: 3px solid black;
}

.account-button {
  width: 50px;
  height: 50px;
  background-color: #00a2ff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
}

.account-button img {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 30px;
  height: 30px;
}

.action-button {
  font-family: "Lekton";
  font-weight: bold;
  background: #00A3FF;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 2em;
  width: 150px;
  font-size: 18px;
}

@media (min-width: 1300px) {
  .action-button {
    height: 50px;
    width: 200px;
    font-size: 24px;
  }
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:disabled {
  background: #00a2ff72;
}

button:disabled:hover {
  background: #00a2ff72;
}

@media (min-width: 768px) {
  .react-toggle {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.react-toggle--checked .react-toggle-track {
  background-color: #00A3FF !important;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.accounts-wrap {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.accounts-wrap .register, .accounts-wrap .login {
  width: 100%;
}

.accounts-wrap .input-field label {
  margin: 0.25em 0 0.25em;
  display: block;
}

.accounts-wrap .input-field.error input {
  border-color: red !important;
}

@media (min-width: 768px) {
  .accounts-wrap {
    border: 3px solid black;
    border-radius: 5px;
    width: 50%;
    max-width: 900px;
    margin: 50px auto;
    min-height: 70vh;
    max-height: 80vh;
  }
}

.auth-error {
  height: 1.3em;
  margin: 0.25em 0;
  font-size: 0.8em;
  color: red;
  font-style: italic;
}

.account-switcher[fadein="0"] {
  opacity: 0;
}

.account-switcher[fadein="1"] {
  -webkit-animation: fadeIn 250ms ease-in forwards;
          animation: fadeIn 250ms ease-in forwards;
}

.account-switcher[fadein="2"] {
  opacity: 1;
}

.lesson-wrap {
  background: -webkit-gradient(linear, left bottom, left top, from(#E786FF), to(#86E2FF));
  background: linear-gradient(0deg, #E786FF 0%, #86E2FF 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}

.lesson-wrap .lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 45px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.lesson-wrap .lesson:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.lesson-wrap .lesson.complete {
  background-color: #00A2FF;
}

@media (max-width: 768px) {
  .lesson-wrap {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .lesson-wrap {
    width: 60%;
    border-right: 3px solid black;
  }
}

.lesson-end, .lesson-interstitial {
  min-height: 40%;
  margin-top: 50px;
  width: 60%;
  margin: auto;
}

.task[fadein="0"] {
  opacity: 0;
}

.task[fadein="1"] {
  -webkit-animation: fadeIn 250ms ease-in forwards;
          animation: fadeIn 250ms ease-in forwards;
}

.task[fadein="2"] {
  opacity: 1;
}

#leaderboard {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#leaderboard .header {
  font-weight: bold;
  font-size: 18px;
  padding: 15px 15px 14px;
}

#leaderboard #leaderboard-list {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#leaderboard #leaderboard-list .user-entry {
  padding: 5px 1em;
  margin: 0.7em 0 0.4em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  #leaderboard .header {
    font-weight: bold;
    font-size: 22px !important;
    padding: 15px !important;
  }
}

.audio {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio .replay-audio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 65px;
  border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .audio {
    margin: 10px 0;
  }
  .audio .replay-audio-button {
    height: 65px;
    width: 65px;
  }
}

@media (min-width: 1024px) {
  .audio {
    margin: 10px 0;
  }
  .audio .replay-audio-button {
    height: 80px;
    width: 80px;
  }
}

.correct .answer {
  color: white;
  border: 1px solid transparent;
  background-color: #9BC53D;
}

.wrong .answer {
  color: white;
  border: 1px solid transparent;
  background-color: #ff4c55;
}

.answer {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.multiple-choice {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.multiple-choice .answers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .multiple-choice .answers-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.multiple-choice-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 1.5% 0;
  height: 2.25rem;
}

@media (min-width: 768px) {
  .multiple-choice-answer {
    margin: 1.5% 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: 125px;
    max-width: 125px;
    width: 23vw;
    height: 23vw;
    -webkit-transition: background-color 75ms ease-in-out;
    transition: background-color 75ms ease-in-out;
    padding: 10px;
    width: 45% !important;
    height: 45% !important;
    max-height: 14vh !important;
    min-height: 75px !important;
  }
  .multiple-choice-answer.chosen {
    background-color: #d7d7d7;
  }
  .middle-text {
    font-size: 1.5em !important;
  }
}

.middle-text {
  font-size: 1.2em;
}

.bottom-text, .middle-text {
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.specified-order .answers-wrap, .specified-order #answers, .specified-order #possibilites {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  min-height: 51px;
  padding: 8px 2px;
}

.specified-order #answers {
  margin-bottom: 2.25em !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.specified-order .audio {
  height: 90px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specified-order .audio .replay-audio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 80px;
  background-color: #00a2ff;
  border-radius: 5px;
}

.specified-order .correct .answer {
  color: white;
  border: 1px solid transparent;
  background-color: #9BC53D;
}

.specified-order .wrong .answer {
  color: white;
  border: 1px solid transparent;
  background-color: #ff4c55;
}

.specified-order .specified-order-answer {
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  cursor: pointer;
  padding: 1em 1.25em;
  margin: 0 6px;
  height: 2em;
  min-width: 60px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specified-order .specified-order-answer[animating="1"] {
  -webkit-animation: fadeIn 100ms ease-in;
          animation: fadeIn 100ms ease-in;
}

.correct .answer {
  color: white;
  border: 1px solid transparent;
  background-color: #9BC53D;
}

.wrong .answer {
  color: white;
  border: 1px solid transparent;
  background-color: #ff4c55;
}

.task.draw-letter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task.draw-letter #drawing-canvas {
  width: 320px;
  height: 320px;
}

.edit-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid black;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  height: 50px;
  padding: 15px 1em;
}

.edit-wrap {
  width: 60%;
  margin: auto;
}

.edit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #00a2ff;
  width: 50px;
  height: 25px;
}

#welcome {
  background-color: #E786FF;
  background: -webkit-gradient(linear, left bottom, left top, from(#f0a6ff), color-stop(10%, #f0a6ff), color-stop(90%, #c3ffff), to(#c3ffff));
  background: linear-gradient(0deg, #f0a6ff 0%, #f0a6ff 10%, #c3ffff 90%, #c3ffff 100%);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#logo-welcome {
  width: 422px;
  height: 110px;
}

.welcome-div {
  position: relative;
  color: white;
  overflow: hidden;
  font-family: "Lekton";
}

.welcome-div #middle-bit {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 2;
  height: 30%;
  top: 40%;
  width: 80%;
  left: 5%;
  font-size: 24px;
  font-weight: bold;
}

.welcome-div #middle-bit #examples-scroller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-div #middle-bit #examples-scroller #punjabi {
  font-weight: normal;
  font-size: 36px;
  height: 40px;
}

.welcome-div #middle-bit #examples-scroller #translation {
  padding-top: 10px;
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}

.welcome-div #middle-bit #prompt-text {
  margin-top: 30px;
  line-height: 1.25em;
  padding-right: 15px;
  font-weight: normal;
}

.welcome-div #middle-bit .action-button {
  position: relative;
  margin-top: 50px;
}

.welcome-div #scroll-prompt {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lekton";
  font-size: 14px;
  font-weight: 1000;
}

.welcome-div #scroll-prompt svg {
  margin-top: 5px;
  width: 32px;
  height: 16px;
}

#welcome-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcome-2 #info-points .info-point {
  font-size: 14px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  color: black;
  border-radius: 5px;
}

#welcome-2 #info-points .info-point .title {
  font-weight: bold;
}

#welcome-3 {
  height: 600vh !important;
  overflow: initial !important;
}

#welcome-3 #stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}

#lp-logo {
  z-index: 2;
  -webkit-transform: translate(0.5%, -9%) scaleX(102%);
          transform: translate(0.5%, -9%) scaleX(102%);
  position: relative;
}

#lp-logo path {
  position: absolute;
  top: 0;
}

#rivers-top, #rivers-mid {
  height: auto;
  position: absolute;
  right: 0;
  z-index: 1;
}

#rivers-top {
  top: 0;
}

#rivers-end {
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

#rivers-mid {
  -webkit-transform: translate(0, -5.5%);
          transform: translate(0, -5.5%);
}

.grad-top {
  background: -webkit-gradient(linear, left top, left bottom, from(#E786FF), color-stop(8.33%, #E786FF), to(#86E2FF));
  background: linear-gradient(180deg, #E786FF 0%, #E786FF 8.33%, #86E2FF 100%);
}

.grad-mid {
  background-color: #86E2FF;
}

.grad-end {
  background: -webkit-gradient(linear, left top, left bottom, from(#86E2FF), color-stop(91.67%, #E786FF), to(#E786FF));
  background: linear-gradient(180deg, #86E2FF 0%, #E786FF 91.67%, #E786FF 100%);
}

@media (min-width: 1300px) {
  #middle-bit {
    position: absolute;
    width: 35% !important;
    font-size: 24px !important;
    font-weight: bold;
  }
  #middle-bit #examples-scroller {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    align-items: center;
  }
  #middle-bit #examples-scroller #punjabi {
    font-size: 52px !important;
    height: 60px !important;
    margin: 0 30px 0 0;
  }
  #middle-bit #examples-scroller #translation {
    font-size: 24px !important;
  }
  #middle-bit #prompt-text {
    margin-top: 30px;
  }
  #middle-bit .action-button {
    margin-top: 50px;
  }
  #scroll-prompt {
    bottom: 30px !important;
    font-size: 24px !important;
  }
  #scroll-prompt svg {
    margin-top: 15px !important;
    width: 62px !important;
    height: 31px !important;
  }
  .thing {
    font-size: 24px !important;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    background-color: #ffffff83;
    color: black;
    border-radius: 5px;
  }
  .thing.visible {
    opacity: 1 !important;
  }
}

.footer-page {
  overflow: hidden;
}

.darkMode .container {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-color: #10161f;
}

.darkMode .accounts-wrap {
  background-color: #10161f;
  color: white;
}

.darkMode #topbar {
  background-color: #10161f;
  color: white;
}

.darkMode #leaderboard, .darkMode #leaderboard .header {
  background-color: #10161f;
  color: white;
}

#course-custom-container {
  width: 60%;
  padding: 0 10%;
  margin: 0;
  border-right: 3px solid black;
}

#custom-container {
  height: calc(100vh - 84px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 100vw !important;
  z-index: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  width: 40%;
}

.scroll-lock {
  overflow: hidden !important;
}

@layer utilities {
  .no-highlight {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

body {
  overflow: hidden;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: 'Lekton', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  overflow-x: hidden;
  height: 100vh;
}

.button {
  cursor: pointer;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=Root.css.map */