@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400&display=swap");
#logo-full {
  margin: 1.5em 2em 0.5em;
  width: 210px;
}

#topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6px;
  border-bottom: 3px solid black;
}

#topbar a {
  width: 50px;
  margin-right: 2em;
}

.account-button {
  width: 50px;
  height: 50px;
  background-color: #00a2ff;
  border-radius: 5px;
  border: 2px black solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-top: 7px;
}

.account-button img {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  width: 30px;
  height: 30px;
}

.accounts-wrap {
  width: 85%;
  height: 48vh;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  margin: 50px auto;
}

.accounts-wrap .register, .accounts-wrap .login {
  width: 100%;
}

.accounts-wrap .input-field label {
  margin: 0.25em 0 0.25em;
  display: block;
}

@media (min-width: 768px) {
  .accounts-wrap {
    width: 50%;
    height: 70vh;
  }
}

.auth-error {
  height: 1em;
  margin: 0.25em 0 1em;
  font-size: 0.8em;
  color: red;
  font-style: italic;
}

.lesson-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
}

.lesson-wrap .lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 150px;
  height: 150px;
  border: 1px grey solid;
  border-radius: 10px;
  margin: 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.lesson-wrap .lesson:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.lesson-wrap .lesson.complete {
  background-color: green;
}

.lesson-wrap .lesson.incomplete {
  background-color: transparent;
}

@media (max-width: 768px) {
  .lesson-wrap {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .lesson-wrap {
    width: 60%;
    border-right: 3px solid black;
  }
}

.task {
  margin-top: 50px;
}

#leaderboard {
  border-bottom: 3px solid black;
}

#leaderboard .header {
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
  border-bottom: 3px solid black;
}

#leaderboard #leaderboard-list {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 30vh;
  max-height: 40vh;
  position: relative;
}

#leaderboard #leaderboard-list .user-entry {
  padding: 5px 1em;
  width: calc(100% - 2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.audio {
  height: 90px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.audio .replay-audio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 80px;
  background-color: #00a2ff;
  border-radius: 5px;
}

.audio .replay-audio-button img {
  width: 50px;
  height: 50px;
}

.multiple-choice .answers-wrap {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.multiple-choice-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 5px;
}

.multiple-choice-answer.chosen {
  background-color: lightgrey;
}

.middle-text {
  font-size: 2.5em;
}

.bottom-text, .middle-text {
  height: 1em;
}

.specified-order .answers-wrap {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

.specified-order .audio {
  height: 90px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specified-order .audio .replay-audio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 80px;
  background-color: #00a2ff;
  border-radius: 5px;
}

.specified-order .specified-order-answer {
  padding: 0.5em 0.75em;
  margin: 0 6px;
  height: 1.05em;
  min-width: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task.draw-letter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.task.draw-letter #drawing-canvas {
  width: 320px;
  height: 320px;
}

#course-container {
  width: 60%;
  padding: 0 10%;
  margin: 0;
  border-right: 3px solid black;
}

.container {
  height: calc(100vh - 99px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  width: 40%;
}

body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  overflow-x: hidden;
  height: 100vh;
}

.button {
  cursor: pointer;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=Root.css.map */