#course-container {
    width: 60%;
    padding: 0 10%;
    margin: 0;
    border-right: $border-thickness solid black;
}
.container {
    height: calc(100vh - 99px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;
}
.sidebar {
    width: 40%;
}