#course-custom-container {
    width: 60%;
    padding: 0 10%;
    margin: 0;
    border-right: $border-thickness solid black;
}
#custom-container {
    height: calc(100vh - 94px);
    @include vScroll;

    display: flex;
}
.container {
    max-width: 100vw !important;
    height: calc(100vh - 94px);
    @include vScroll;

    display: flex;
}
.sidebar {
    width: 40%;
}