.animDelay500 {
    animation-delay: 500ms;
}

.moveUpAndFadeOut {
    animation: moveUpAndFadeOut 1s ease-in;
    animation-fill-mode: forwards;
}
@keyframes moveUpAndFadeOut {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, -50px);
        opacity: 0;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion) {
    .fadeIn, .fade-in, .move-down, .move-up, .bounce-y, .shake-x {
        animation: none !important;
    }
}