@mixin noHighlighting {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@mixin hideScrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin hoverScaleUp($scale) {
    transition: transform 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale($scale);
    }
}

$primary-dark: #10161f;
$secondary-dark:#1a2534;
$tertiary-dark:#233146;
$highest-dark:#2c3e58;
$accent-dark: #0096dc;
$plain-dark: #dedede;

@mixin darkMode {
    .dark-accent {
        background-color: $accent-dark !important;
    }
    .dark-tertiary {
        background-color: $tertiary-dark !important;
        color: white !important;
        border-color: transparent !important;
    }
    .dark-elevated {
        background-color: $secondary-dark !important;
        color: white !important;
        border-color: transparent !important;
    }
    .dark-primary {
        background-color: $primary-dark;
        color: white;
    }
    .container {
        transition: all 200ms;
    }
    .bg-gradient {
        filter: brightness(0.7);
    }
    .accounts-wrap {
        background-color: $primary-dark;
        color: white;
    }
    #topbar-wrap {
        background-color: $primary-dark;
        color: white;
    }
    #leaderboard, #leaderboard .header {
        background-color: $primary-dark;
        color: white;
    }
    .dark-answer {
        background-color: $secondary-dark;
        border: transparent;
        &:hover {
            background-color: $tertiary-dark;
        }
        // color: black;
        &.chosen {
            background-color: $highest-dark;
        }
    }
    #progress-bar-bg {
        background-color: $plain-dark;
    }
}

@mixin vScroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin disableMobileHighlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}