@mixin noHighlighting {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@mixin hideScrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin hoverScaleUp($scale) {
    transition: transform 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale($scale);
    }
}

$bg-primary-dark: #121212;
@mixin darkMode {
    .container {
        transition: all 200ms;
        background-color: $bg-primary-dark;
    }
    .bg-primary {
        // background-color: rgb(0, 146, 231) !important;
    }
    .accounts-wrap {
        background-color: $bg-primary-dark;
        color: white;
    }
    #topbar {
        background-color: $bg-primary-dark;
        color: white;
    }
    #leaderboard, #leaderboard .header {
        background-color: $bg-primary-dark;
        color: white;
    }
}

@mixin vScroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin disableMobileHighlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}