@mixin noHighlighting {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@mixin hideScrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin hoverScaleUp($scale) {
    transition: transform 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale($scale);
    }
}

// $bg-primary-dark: #121212;
$primary-dark: #10161f;
$secondary-dark:#3e3e3e;
$accent-dark: #0096dc;

@mixin darkMode {
    .dark-accent {
        background-color: $accent-dark !important;
    }
    .dark-elevated {
        background-color: $secondary-dark !important;
        color: white !important;
        border-color: transparent !important;
    }
    .dark-primary {
        background-color: $primary-dark;
        color: white;
    }
    .container {
        transition: all 200ms;
        background-color: $primary-dark;
    }
    .bg-primary {
        // background-color: rgb(0, 146, 231) !important;
    }
    .accounts-wrap {
        background-color: $primary-dark;
        color: white;
    }
    #topbar {
        background-color: $primary-dark;
        color: white;
    }
    #leaderboard, #leaderboard .header {
        background-color: $primary-dark;
        color: white;
    }
}

@mixin vScroll {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin disableMobileHighlight {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}