.multiple-choice {
    flex-flow: column;
    .answers-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .multiple-choice {
        .answers-wrap {
            flex: 1 1 auto;
        }
    }
}